/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

/* #linkexpiry {
  margin-left: 1050px;
  margin-right: 5px;
  margin-top  : 15px;
}

#inputbox {
  margin-left: 450px;
  margin-bottom: 5px;
}

#dropdown-item-button {
  margin-top: 90px;
} */


div {
  margin-top: 10px;
  background-color: #C5C6B9;
}